name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "1. Connecting successfully..."
            whoami
            pwd
            
            echo "2. Checking directory..."
            ls -la /home/opc/project/Safe360
            
            # echo "3. Attempting Git..."
            # cd /home/opc/project/Safe360 || exit
            # git status
            
            # git pull origin main
            # cd server && npm install
            # cd ../client && npm install && npm run build
            # cd ..
            # pm2 reload ecosystem.config.js --env production
